/* styles/_variables.scss */
$primary-color: #d19a66; /* Orange accent color */
$secondary-color: #d19a60; /* Darker orange for hover states */
$background-color: #000000; /* Black background */
$text-color-primary: #ffffff; /* White primary text color */
$text-color-secondary: #bbbbbb; /* Light grey secondary text color */
$card-background: #222222; /* Dark grey background for cards */
$card-border-color: #444444; /* Border color for cards */
$card-shadow: rgba(0, 0, 0, 0.5); /* Box shadow for cards */
$timeline-line-color: $primary-color;
$font-family-sans-serif: 'Arial, sans-serif';
$font-family-monospace: 'Courier New', Courier, monospace;
